/*mobile styles */
img {
max-height: 100%;
width: auto;
}

.detailsModal  {
  background-color: whitesmoke;
  border-radius: 1rem;
  overflow-y: scroll;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 3.2rem;
  line-height: 3.2rem;
}

.year {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

/* mobile landscape */
@media (orientation: landscape) {

}

/* desktop */
@media (min-width: 760px) {
  .title {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
  .year {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}