#nav-container {
  height: 6rem;
  background-color: #1B9AAA;
  color: #FCFCFC;
  position: fixed;
  width: 100vw;
  z-index: 950;
  display: flex;
  justify-content: space-between;
}

#nav-container a {
  color: #FCFCFC;
}

#logo {
  padding: 1rem;
}

#nav-menu {
  display: flex;
  justify-content: center;
}

#nav-menu > div, #logo {
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
